$primary: #2c71ff;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/@fontsource/roboto/index.css";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

body {
  font-family: "Roboto";
}

#comments {
  min-height: 7em;
}

.badge-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  min-height: 30px;
  flex: 1 0 20%;
  margin: 0 5px 10px;
}

@media (min-width: 600px) {
  .badge {
    margin: 0 40px 10px;
  }
}
