$primary: #2c71ff;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/@fontsource/roboto/index.css";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

body {
  font-family: "Roboto";
}

.logo-name {
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  width: 9.5rem;
  margin: 0 0 0 0.7rem;
  white-space: initial;
}

#comments {
  min-height: 7em;
}

.parallax {
  /* The image used */
  // background-image: url("img_parallax.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
